.gameBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  .btn {
    display: inline-flex;
    padding: 3px 15px;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    background: var(--color-primary);
    cursor: pointer;
    &.disable {
      background-color: var(--color-gray);
    }
  }
  .drawArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 530px);
    h2 {
      margin: 0;
      font-size: 23px;
      text-align: center;
      &.num {
        font-size: 70px;
      }
    }
    .btn {
      font-size:20px;
    }
  }
  .bingoArea {
    .top {
      display: flex;
      flex-direction: row-reverse;
    }
    .cardList{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      width: 500px;
      padding: 5px;
      margin-top:10px;
      border: 1px solid var(--color-primary);
      .card {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc((100% - 20px) / 5);
        height: 100px;
        font-size: 40px;
        color: #666;
        font-weight: 300;
        background-color: var(--color-bg1);
        &.bingo {
          animation-name: bingo;
          animation-duration: 1s;
          animation-fill-mode: forwards;
        }
        .selected {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;

          &::before,
          &::after {
            position: absolute;
            left: 5%;
            top: calc(50% - 3px);
            width: 90%;
            height: 6px;
            border-radius: 3px;
            background-color: red;
            opacity: 0;
            content: '';
          }
          &::before {
            transform: rotate(-45deg);
          }
          &::after {
            transform: rotate(45deg);
          }

          &.check::before{
            opacity: 1;
            transition: all 0.3s 0.1s;
          }
          &.check::after {
            opacity: 1;
            transition: all 0.2s;
          }
        }
      }
    }
  }
}

@keyframes bingo {
  0% { background: var(--color-bg1);}
  10% { background: var(--color-red-bg);}
  20% { background: var(--color-bg1);}
  30% { background: var(--color-red-bg);}
  40% { background: var(--color-bg1);}
  50% { background: var(--color-red-bg);}
  100% { background: var(--color-red-bg);}
}