.gameBox {
  display: flex;
  justify-content: space-between;
}

.ground {
  position: relative;
  margin: 0 auto;
  .gridBox {
    display: grid;
    width: 600px;
    height: 600px;
    .grid {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f3ffe9;
      font-size: 12px;
      color: #999;
      &:nth-child(2n-1) {
        background: #e0f1d1;
      }
      i {
        position: absolute;
        bottom: 2px;
        right:2px;
        color: #444;
      }
      .count {
        font-size: 30px;
        font-weight: bold;
        &.count-1 { color: #0f46a7}
        &.count-2 { color: #03c243}
        &.count-3 { color: #f16c11}
        &.count-4 { color: #a70f66}
        &.count-5 { color: #1d9686}
      }
      .pin {
        font-size: 20px;
        color: #e23333;
      }
      &.open {
        background: #efe1c8;
      }
      &:nth-child(2n-1).open {
        background: #e6cfa6;
      }
    }

  }
}