
@charset "utf-8";

:root {
  --color-primary: #6b8;
  --color-primary-bg: #FCF6F5;
  --color-yellow: #ffe202;

  --color-bg1: #dbf1ea;
  --color-red-bg: #fecfbd;

  --weight-regular: 400;
  --weight-bold: 700;

  --border-line: 1px solid #ddd;

  --box-shadow: 0 0 10px 10px rgba(100,100,100,0.1);


}